:root {
  --bg-black: #000;
  --bg-white: #fff;
  --font: 'Roboto Flex', sans-serif;
}

html {
  font-size: 62.5%;
}
body {
  background-color: var(--bg-black);
  font-size: 1.6rem;
}

/* @media (min-width: 700px) {
  .content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-top: auto;
    height: auto;
  }
} */

/* .content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: auto;
  } */

.content-img {
  display: flex;
  justify-content: center;
  margin-top: 18rem;
  margin-bottom: 15rem;
}

.img-logo {
  width: 80%;
}

@media (min-width: 700px ) {
  .img-logo {
    width: 60%;
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 700px) {
  .links {
    flex-direction: row;
    justify-content: space-evenly;
  }  
} 

.links a {
  text-decoration: none;
}

.content-links {
  width: 20rem;
  text-align: center;
  color: #868080;
}

.content-links span {
  display: block;
  font-size: 1.5rem;
  font-family: var(--font);
  margin: 1rem;
}

.icon {
  width: 10%;
}

.icon-email {
  width: 10%;
}

@media (min-width: 700px) {
  .icon {
    width: 15%;
  }

  .icon-email {
    width: 17%;
  }
}



